<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zheng926482.xposedcarwithtrigger">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Auto start SaltPlayer when CarWith connected" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="com.miui.carlink" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />

    </application>

</manifest>
